:root {
    --color-menu: #222;
    --color-menu-hover: #181818;
    --color-menu-active: #A00;
    --color-menu-dropdown: #111;
    --color-menu-dropdown-hover: #080808;
    --color-menu-dropdown-active: #700;

    --color-body-background: rgba(0,0,0,0.5);
    --color-body-box: #444;
    --color-body-box-shadow: #222;

    --color-body-sidebar-content: #555;

    --color-body-flex: #333;

    --color-footer: #000;

    --color-text-normal: #FFF;
    --color-text-menu: #FFF;
    --color-text-link: #F00;

    --theme-button-color: #FFF;
}

body.light * {
    color-scheme: light;
}

body.dark * {
    color-scheme: dark;
}

:root > body.light {
    --color-menu: #FFF;
    --color-menu-hover: #D8D8D8;
    --color-menu-active: #F00;
    --color-menu-dropdown: #CCC;
    --color-menu-dropdown-hover: #585858;
    --color-menu-dropdown-active: #F00;

    --color-body-background: rgba(128, 128, 128, 0.5);
    --color-body-box: #DDD;
    --color-body-box-shadow: #BBB;

    --color-body-sidebar-content: #AAA;

    --color-body-flex: #CCC;

    --color-footer: #FFF;

    --color-text-normal: #000;
    --color-text-menu: #FFF;
    --color-text-link: #F00;

    --theme-button-color: #000;
}

body, html {
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
}

.scroll-hide {
    overflow: hidden;
}

.global-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-parent {
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: 10000;
}

.global-grid .nav {
    background: var(--color-menu);
    grid-area: nav;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    width: fit-content;
    position: fixed;
    top: 0;
    left:50%;
}

.global-grid nav a {
    color: var(--color-text-normal);
    text-decoration: none;
    font-size: 18px;
    display: block;
    font-family: arial;
}

.global-grid nav a.active:not(.dropdown-link) {
    background: var(--color-menu-active);
    color: var(--color-text-menu);
}

.global-grid nav a.dropdown-link.active {
    background: var(--color-menu-dropdown-active);
    color: var(--color-text-menu);
}

.global-grid nav a:not(.dropdown-link) {
    float: left;
    padding: 26px 19px;
}

.global-grid nav a:not(.dropdown-link):not(.active):hover {
    background: var(--color-menu-hover);
}

.global-grid nav a:not(.dropdown-link):not(.active) {
    transition: background .25s ease-in;
}

.dropdown {
    display: flex;
    height: 0px;
    flex-direction: column;
    background-color: var(--color-menu-dropdown);
    width: 220px;
    position: absolute;
    top: 73px;
    left: calc(50vw - 110px);
    margin: 0;
    padding: 0;
    transition: height .125s ease-in;
    overflow: hidden;
    justify-content: center;
}

.dropdown-container:hover .dropdown {
    height: 4.5vh;
}

.dropdown .dropdown-link {
    padding: 14px 16px;
    text-align: center;
}

.dropdown .dropdown-link:hover {
    background: var(--color-menu-dropdown-hover);
}

.mid-section {
    display: flex;
    background: var(--color-body-background);
}

.body {
    flex-grow: 1;
    max-width: 70%;
}

.sidebar {
    flex-shrink: 1;
    margin-right: 2vh;
    margin-top: 10px;
    margin-bottom: 20px;
}

.box {
    background: var(--color-body-box);
    box-shadow: 1vh 1vh var(--color-body-box-shadow);
    color: var(--color-text-normal);
}

.body .box {
    margin: 10px 5% 10px 5%;
    width: 1083px;
    padding: 10px;
    float: right;
    /*border: 1px solid #444;
    border-radius: 2.5vh;*/
}

.system-requirements {
    display: flex;
    flex-direction: column;
}

.system-requirements .row {
    display: flex;
    overflow-wrap: anywhere;
    justify-content: center;
}

.system-requirements .row .column {
    display: flex;
    flex-direction: column;
    width: 25%;
    background: var(--color-body-flex);
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--color-body-flex);
    border-radius: 25px;
    box-shadow: 0.5vh 0.5vh var(--color-body-box-shadow);
}

.body .box h1, .body .box .row .column h1, .body .box .row .column h2, .body .box .row .column h3 {
    font-family: arial;
    text-align: center;
}

.body .box p, .body .box ul, .body .box .row .column div {
    font-family: arial;
    font-size: 18px;
}

.body .box .minihead {
    font-family: arial;
    font-size: 18px;
    font-weight: 1000;
}

.body .box a {
    color: var(--color-text-link);
}

.body .box:last-of-type {
    margin-bottom: calc(10px + 1vh);
}

.sidebar .box {
    float: left;
    max-width: 555px;
    /*border: 0px solid #444;
    border-radius: 2.5vh;*/
}

.sidebar .box h3 {
    font-family: arial;
    text-align: center;
}

.sidebar .box p {
    font-family: arial;
    font-size: 18px;
}

.side-item {
    /*border: 1px solid #fff;*/
    padding: 1vh;
    margin: 1vh;
    border: 1px solid var(--color-body-sidebar-content);
}

/*.side-item:nth-child(1) {
    border-radius: 2.5vh 2.5vh 0 0;
}

.side-item:last-of-type {
    border-radius: 0 0 2.5vh 2.5vh;
}*/

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1000;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover {
    height: 100vh;
}

.cover h1 {
    font-family: arial;
    color: var(--color-text-normal);
    position: absolute;
    left: calc(50% - 300px);
    font-size: 200px;
    text-shadow: 5px 5px rgba(0,0,0,0.5);
}

.header {
    position: absolute;
    left: calc(50% - 45vh);
    top: 15vh;
    width: 90vh;
}

.footer {
    background: var(--color-footer);
    color: var(--color-text-normal);
    text-decoration: none;
    font-family: Arial;
    padding: 2vh;
    text-align: center;
    font-size: 18px;
}

.menu-mobile-btn {
    display: none;
}

.theme-button {
    width: 50px;
    position: fixed;
    top: 15px;
    left: calc(100vw - 60px);
    z-index: 10001;
}

body.light .svg-image {
filter: brightness(0%);
}

body.dark .svg-image {
    filter: brightness(1000%);
}

 @media (min-device-width: 320px) and (max-device-width: 428px) and (min-device-height: 480px) and (max-device-height: 926px) and (-webkit-min-device-pixel-ratio: 2) {
    .mid-section {
        flex-direction: column;
        padding-bottom: 20px;
    }
    
    .body .box {
        width: calc(100% - 1vh - 20px);
        max-width: calc(100% - 1vh - 20px);
        margin-left: 0;
        margin-right: 0;
        float: left;
    }
    .sidebar .box {
        width: calc(100% - 1vh);
        max-width: calc(100% - 1vh);
        margin-left: 0;
        margin-right: 0;
        float: left;
    }
    .body {
        max-width: 100%;
        flex-grow: 0;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .cover {
        height: 100vh;
    }

    .sidebar {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .body .box p, .sidebar .box p, .box ul *, .box b {
        font-size: 24px;
    }

    .body .box h1, .sidebar .box h3 {
        font-size: 38px;
    }

    .cover h1 {
        font-size: 20vw;
        left: calc(50% - 32vw);
        top: calc(50vh - 50vw);
    }

    .header {
        font-family: arial;
        color: var(--color-text-normal);
        position: absolute;
        left: calc(50% - 45vw);
        width: 90vw;
        top: 20%;
        font-size: 200px;
        text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    }

    .nav-parent {
        position: fixed;
        top: -150vh;
        width: 100%;
        height: 100%;
        background: var(--color-menu);
        margin: 0;
        padding: 0;
        transition: 0.25s top;
        z-index: 10000;
        overflow-y: scroll;
    }

    .global-grid nav a:not(.dropdown-link) {
        float:unset;
        text-align: center;
    }

    .global-grid nav {
        position: fixed;
        top: -150vh;
        width: 100%;
        height: calc(100% - 20vw);
        z-index: 10000;
        display: block;
        padding-top: 20vw;
        transition: 0.25s top;
        overflow-y: scroll;
    }

    .theme-button {
        top: -150vh;
        left: calc(100vw - 100px);
        transition: 0.25s top;
        width: 20vw;
        height: 20vw;
    }

    .dropdown-container .dropdown {
        display: flex;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }
    .menu-mobile-btn {
        display: block;
        position: fixed;
        width: 20vw;
        height: 20vw;
        /*border: 1px solid #222;
        border-radius: 7.5vw;
        background: #222;*/
        background: none;
        border: none;
        z-index: 10001;
        font-size: 15vw;
    }
    
    .menu-mobile-btn:not(.invert) {
        color: var(--color-text-menu);
    }
    
    .menu-mobile-btn.invert {
        color: var(--color-text-normal);
    }

    .footer {
        padding: 5vw;
    }

    .system-requirements {
        font-family: arial;
        display: flex;
        flex-direction: column;
    }

    .system-requirements .row {
        display: flex;
        flex-direction: column;
        overflow-wrap: anywhere;
        justify-content: center;
    }

    .system-requirements .row .column {
        display: flex;
        flex-direction: column;
        width: 90%;
        background: var(--color-body-flex);
        margin: 10px;
        padding: 10px;
        border: 1px solid var(--color-body-flex);
        border-radius: 25px;
        box-shadow: 0.5vh 0.5vh var(--color-body-box-shadow);
    }
 }
  @media (min-device-width:480px) and (max-device-width: 926px) and (min-device-height: 320px) and (max-device-height: 428px) and (-webkit-min-device-pixel-ratio: 2) {
    .mid-section {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .body .box {
        width: calc(100% - 1vh - 20px);
        max-width: calc(100% - 1vh - 20px);
        margin-left: 0;
        margin-right: 0;
        float: left;
    }

    .sidebar .box {
        width: calc(100% - 1vh);
        max-width: calc(100% - 1vh);
        margin-left: 0;
        margin-right: 0;
        float: left;
    }

    .body {
        max-width: 100%;
        flex-grow: 0;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .sidebar {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .body .box p, .sidebar .box p, .box ul *, .box b {
        font-size: 24px;
    }

    .body .box h1, .sidebar .box h3 {
        font-size: 38px;
    }

    .cover {
        height: 100vh;
    }

    .cover h1 {
        position: absolute;
        font-size: 20vw;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 20vw;
        width: 65vw;
        margin: auto;
    }

    .header {
        font-family: arial;
        color: var(--color-text-normal);
        position: absolute;
        left: calc(50% - 45vh);
        width: 90vh;
        top: 20%;
        font-size: 200px;
        text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    }

    .nav-parent {
        position: fixed;
        top: -150vh;
        width: 100%;
        height: 100%;
        background: var(--color-menu);
        margin: 0;
        padding: 0;
        transition: 0.25s top;
        z-index: 10000;
        overflow-y: scroll;
    }

    .global-grid nav a:not(.dropdown-link) {
        float: unset;
        text-align: center;
    }

    .global-grid .nav {
        position: fixed;
        top: -150vh;
        width: 100%;
        height: calc(100% - 10vh);
        z-index: 10000;
        display: block;
        padding-top: 10vh;
        transition: 0.25s top;
        overflow-y: scroll;
    }

    .theme-button {
        top: -150vh;
        left: calc(100vw - 100px);
        transition: 0.25s top;
        width: 20vw;
        height: 20vw;
    }

    .dropdown-container .dropdown {
        display: flex;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }

    .menu-mobile-btn {
        display: block;
        position: fixed;
        width: 10vh;
        height: 10vh;
        /*border: 1px solid #222;
        border-radius: 7.5vw;
        background: #222;*/
        background: none;
        border: none;
        z-index: 10001;
        font-size: 15vh;
    }

    .menu-mobile-btn:not(.invert) {
        color: var(--color-text-menu);
    }

    .menu-mobile-btn.invert {
        color: var(--color-text-normal);
    }

    .footer {
        padding: 5vh;
    }
    
    .system-requirements {
        font-family: arial;
        display: flex;
        flex-direction: column;
    }

    .system-requirements .row {
        display: flex;
        flex-direction: column;
        overflow-wrap: anywhere;
        justify-content: center;
    }

    .system-requirements .row .column {
        display: flex;
        flex-direction: column;
        width: 90%;
        background: var(--color-body-flex);
        margin: 10px;
        padding: 10px;
        border: 1px solid var(--color-body-flex);
        border-radius: 25px;
        box-shadow: 0.5vh 0.5vh var(--color-body-box-shadow);
    }
  }

  @media (orientation: portrait) and (-webkit-max-device-pixel-ratio: 1) {
    .footer {
        padding: 2vw;
    }

    .mid-section {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .box {
        box-shadow: 1vw 1vw var(--color-body-box-shadow);
    }

    .body {
        max-width: 100%;
        flex-grow: 0;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .sidebar {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .body .box {
        width: calc(100% - 1vh - 20px);
        max-width: calc(100% - 1vh - 20px);
        margin-left: 0;
        margin-right: 0;
        float: left;
    }

    .sidebar .box {
        width: calc(100% - 1vh);
        max-width: calc(100% - 1vh);
        margin-left: 0;
        margin-right: 0;
        float: left;
    }

    .side-item {
        padding: 1vw;
        margin: 1vw;
    }

    .nav-parent {
        position: fixed;
        top: -150vh;
        width: 100%;
        height: 100%;
        background: var(--color-menu);
        margin: 0;
        padding: 0;
        transition: 0.25s top;
        z-index: 10000;
        overflow-y: scroll;
    }

    .global-grid nav a:not(.dropdown-link) {
        float: unset;
        text-align: center;
    }

    .global-grid nav {
        position: fixed;
        top: -150vh;
        width: 100%;
        height: calc(100% - 10vh);
        z-index: 10000;
        display: block;
        padding-top: 10vh;
        transition: 0.5s top ease-in-out;
        overflow-y: scroll;
    }

    .theme-button {
        top: -150vh;
        left: calc(100vw - 100px);
        transition: 0.25s top;
        width: 50px;
        height: 50px;
    }

    .dropdown-container .dropdown {
        display: flex;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }

    .menu-mobile-btn {
        display: block;
        position: fixed;
        left: 50px;
        top: 50px;
        width: 50px;
        height: 50px;
        /*border: 1px solid #222;
        border-radius: 7.5vw;
        background: #222;*/
        background: none;
        border: none;
        z-index: 10001;
        font-size: 75px;
    }

    .menu-mobile-btn:not(.invert) {
        color: var(--color-text-menu);
    }

    .menu.invert {
        color: var(--color-text-normal);
    }

    .cover h1 {
        font-family: arial;
        color: var(--color-text-normal);
        position: absolute;
        left: calc(50% - 300px);
        top: 20%;
        font-size: 200px;
        text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    }

    .header {
        font-family: arial;
        color: var(--color-text-normal);
        position: absolute;
        left: calc(50% - 45vw);
        width: 90vw;
        top: 20%;
        font-size: 200px;
        text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    }

    .system-requirements {
        font-family: arial;
        display: flex;
        flex-direction: column;
    }

    .system-requirements .row {
        display: flex;
        flex-direction: column;
        overflow-wrap: anywhere;
        justify-content: center;
    }

    .system-requirements .row .column {
        display: flex;
        flex-direction: column;
        width: 90%;
        background: var(--color-body-flex);
        margin: 10px;
        padding: 10px;
        border: 1px solid var(--color-body-flex);
        border-radius: 25px;
        box-shadow: 0.5vh 0.5vh var(--color-body-box-shadow);
    }
  }